.container {
  border: 3px sandybrown solid;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.tasks_btn {
  width: 20%;
  height: 3em;
  margin: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  font-size: 18px;
}

.main_message {
  width: 100%;
}

.tasks {
  border: 3px blue solid;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  width: 100%;
  margin: 10px;
}

.task {
  border: 3px green solid;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin: 10px;
}

.show_task {
  width: 9%;
  height: 4em;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(42, 124, 39);
  color: white;
  font-size: 18px;
  border: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.text_holder{
  width: 100%;
  margin: 10px;
}

input[type=text]{
  width: 30%;
  text-align: center;
}

.task_by_id{
  border: 3px gray solid;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin: 10px;
}
