* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* outline: 1px red dashed; */
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.sub_container {
    margin: 20px 0px 0px 0px;
    padding: 15px;
    border: 2px blue solid;
    border-radius: 10px;
    min-width: 50%;
}

h1 {
    text-align: center;
}

.row{
    width: 100%;
}

.col_25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

input {
    margin-top: 6px;
}

input[type=button]{
    background-color: blue; 
    color: white;
    width: 10%;
}

.row input[type=text] {
    width: 75%;
    float: right;
}

.quotes h2 {
    margin: 10px;
    color: gray;
}

.quotes h3 {
    color: blue;
    text-align: center;
}