<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <form action="register" method="post">
        <div class="row">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" required>
        </div>
        <div class="row">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" required>
        </div>
        <div class="row">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="row">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="row">
            <label for="birthday">Birthday:</label>
            <input type="date" name="birthday" id="birthday" required>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>